@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.TablaExcel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    font-family: "Poppins";
}
h1 {
    text-align: center;
}
img{
    width: 30px;
  }
.icon {
    color: black;
    width: 10px;
    height: 10px;
}
li {
    text-align: center;
    list-style: none;
}
